/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  font: 13px Helvetica, Arial;
  background: #efefef;
  padding-top:120px;
}
.header {
    background: white;
    position: fixed;
    top:0;
    border-bottom: 1.5px solid deepskyblue ;
    height: 16%;
    padding: 10px 10px
}
  
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages {
  margin-bottom: 120px;
}

#chat-form {
  padding: 0px;
  margin-left: 2px;
  margin-bottom: 0px;
}
#chat-form {
  position: fixed;
  bottom: 0;
}
#m{
  height: 100px;
}
#name{
  text-decoration: underline
}
#time{
  color: gray;
  text-decoration: none;
}

#username {
  height: 20px;
  width: 100px;
}