/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body, html {
  height: 100%;
}
body {
  font: 13px Helvetica, Arial;
  background: #efefef;
  padding-top:120px;
}
/* #picker{
  position: fixed;
  left:0;
  bottom: 120px
} */
.bootstrap-select {
  left: 0;
  position: fixed;
  bottom:0px;
  z-index: 1000;
}
.header {
    background: white;
    position: fixed;
    top:0;
    border-bottom: 1.5px solid deepskyblue ;
    height: 120px;
    padding: 10px 10px;
    overflow-y: scroll;
    z-index: 1000
}
#fixed-top{
  top: auto;
  position: fixed;
  width: auto;
  height: inherit;
}
#user-list{
  padding-top: 20px;
  background: white;
  border-right: 1.5px solid deepskyblue ;
}
  
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages {
  margin-bottom: 120px;
}
#user {
  list-style-type: none;
}
#chat-form {
  padding: 0px;
  margin-left: 2px;
  margin-bottom: 0px;
}
#chat-form {
  position: fixed;
  bottom: 0;
}
#m{
  height: 100px;
}
#name{
  text-decoration: underline
}
#time{
  color: gray;
  text-decoration: none;
}

#username {
  height: 20px;
  width: 100px;
}
.emoji { width: 2.0em; height: 2.0em; display: inline-block;  margin-top: -.25em;margin-bottom: -.25em; background-size: 1.5em; }
